.block_btn_acc{
    display: flex;
    align-items: center;
    flex-direction: column;
}
form{
    width: 100%;
}
.btn_acc_1{
    width: 100%;
    height: 65px;
    background: #503E9D1A;
    border: none;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    color: #503E9D;
}
.btn_acc_2{
    width: 100%;
    height: 65px;
    background: #503E9D;
    border: none;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    color: #fff;
}
.btn_acc_1:hover{
    background: #503E9D;
    color: #fff;
}
.btn_acc_2:hover{
    background: #fff;
    color: #503E9D;
}
.btn_text_acc{
    margin: 24px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #626264;
}
.btn_text_acc a{
    text-decoration: none;
    color: #626264;
}
.btn_text_acc a:hover{
    color: rgb(250, 79, 16);
}